#top {
	display: flex;
	align-items: center;
}

#form {
	margin-bottom: 0;
}

#peers {
	display: flex;
}

.peer_stats {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.bubble {
	border-radius: 15px;
	border: 2px solid black;
	padding: 13px;
	margin: 13px;
}

#you {
	height: auto;
}

.paused {
	background-color: lightgray;
}

[sync_follow="synced"] {
	background-color: lightblue;
}

[sync="syncing"] {
	background-color: yellow;
}

[sync="synced"] {
	background-color: lightgreen;
}

[sync="failed"] {
	background-color: red;
}
