body {
	/* background-color: black;
    color: white; */
	background-color: grey;
}

#video_div {
	max-width: 100%;
}

#video {
	width: 100%;
	height: auto;
}

.flex {
	display: flex;
}

input {
	background-color: lightgray;
}
